
body{
    background-color: black;
}

.container { 
    column-gap: 0em;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    width:80%;
    column-count: 4;
    position:relative;
    column-fill: auto;
}

.block{
    padding: 10%;
}

p{
    font-size: 15px;
    color:lightgrey;
    font-family: monospace;
    font-weight: 100;
    position: relative;
        

}


.theImg {
    width: 100%;
}

.discription{
    z-index: 30;
    position:fixed;
    width:20%;
    height:100%;
    top: 5%;
    left:0;
    margin-left: 5%;
    color: gray;
    font-family: monospace;
    
}

.click{
    z-index: 30;
    width:80%;
    height:100%;
    top: 0;
    left:15%;
    background-color: rgba(0, 0, 0, 0.8);
    position:fixed;
    visibility: hidden;

}

.afterClick{
    display: block;
    margin: auto;

}

h1{
   
    font-size: 25px;
    font-weight: 100;
}
h2{
    font-size: 11px;
    font-weight: 100;
}
